.sidebar {
    padding: 0.5rem;
    width: 170px;
    min-width: 170px;
}

.item {
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 1.25rem;
}

.selected {
    font-weight: bold;
    background-color: #1919581a;
}